/*
  The core SCSS file. Loaded by default on every single page.

  It's supposed to stay as clean as possible, with only impports from the
  various components / modules
*/

@use "sass:meta";
@use 'toolkit/variables';
@use 'toolkit/reset';
@use 'toolkit/fonts';
@use 'toolkit/a11y';

@use 'components/menu/menu';
@use 'components/svg';
@use 'components/form';
@use 'components/lazy';
@use 'components/grid/grid';
@use 'components/footer/footer';
@use 'components/transitions';


/*
  Base elements
*/
body {
  background-color: variables.$background;
  color: variables.$white;
  font-family: variables.$mainfont;
}

#top {
  margin-top: variables.$menuheight;
}


@media screen and (min-width:500px){
  @include meta.load-css('components/menu/menu-500');
  @include meta.load-css('components/footer/footer-500');
}


@media screen and (min-width:800px){
  @include meta.load-css('components/menu/menu-800');
  @include meta.load-css('components/grid/grid-800');
  @include meta.load-css('components/footer/footer-800');

}


@media screen and (min-width:1200px){
  @include meta.load-css('components/menu/menu-1200');
  @include meta.load-css('components/grid/grid-1200');

}
