@use "../../toolkit/variables";

footer {
  contain: content;
  padding: variables.$menuheight 10%;
  font-family: variables.$secondaryfont;

  .footer-social {
    padding-bottom: variables.$minimalspace; // $minimalspace + $minimalspace = $basespace
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: variables.$largeborder solid variables.$dark;

    &-wrapper {
      display: flex;
    }

    &-icon {
      padding: variables.$minimalspace variables.$slightspace;
    }
  }

  .footer-informations {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: variables.$basespace;
    word-wrap: break-word;

    &-top {
      padding-top: variables.$basespace;
      font-family: variables.$mainfont;
      font-size: variables.$slightspace;
    }
  }

  #back-to-top {
    display: grid;
    text-align: center;
  }

  .arrow-up {
    fill: none;
    stroke-width: variables.$largeborder;
    justify-self: center;
    margin-bottom: variables.$minimalspace;
  }
}
