@use "../toolkit/variables";

input, textarea {
  line-height: variables.$basespace;
  margin-bottom: variables.$minimalspace;
  border:none;
  border-bottom: variables.$smallborder solid variables.$dark;
  background-color: variables.$background;
  color: variables.$white;
  font-family: variables.$secondaryfont;

  &:focus {
    border-bottom: variables.$smallborder solid variables.$maincolor;
  }

  &:focus:valid {
    border-bottom: variables.$smallborder solid variables.$success;
  }

  &:focus:invalid {
    border-bottom: variables.$smallborder solid variables.$error;
  }
}

button, input[type="submit"],
.btn, .btn .hide-link, .btn.hide-link:visited {
  font-family: variables.$mainfont;
  color: variables.$maincolor;
  background-color: variables.$background;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  padding: 0;
}

.btn-inactive {
  cursor: not-allowed;
}

button .hide-link, button .hide-link:visited  {
  text-decoration: none;
  color: inherit; // inhereting from button
}
