@use "../toolkit/variables";

svg {
  stroke: variables.$maincolor;
  stroke-width: variables.$xlargeborder;
  fill: transparent;
}

.social {
  stroke: none;
  fill: variables.$white;
  stroke-width: 0;
}
