@use "../toolkit/variables";

#tr {
  &-main {
    display: none;
    position: fixed;
    z-index: variables.$kite; // below the hidding wrapper
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: variables.$background;
    transform: translateY(100%);
  }
}

.tr-hide-wrapper{
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.tr-hide {
  background: variables.$maincolor;
  width: 100%;
  height: 100%;
}
