@use "../../toolkit/variables";

.content {
  &-cta {
    grid-template-columns: 1fr 1fr;
    &-button {
      text-align: left;

      &-right {
        text-align: right;
      }
    }
  }

  blockquote {
    p {
      padding-left: 6%;
    }

    &:before {
      content: '“';
      position: absolute;
      color: variables.$maincolor;
      font-size: variables.$extralargespace;
      font-family: variables.$mainfont;
      top: -(variables.$slightspace);
      left: 5.5%;
    }

    &:after {
      background-color: variables.$dark;
    }
  }
}
